<div class="sign_up">
  <div class="form">
          <div id="create_artist">   
            <h1>Create yourself!</h1>
            <form>
            <div class="top-row">
              <div class="field-wrap">
                <label class='err_moniker'>
                  Moniker<span class="req">*</span>
                </label>
                <input class='s_moniker artist_name' type="text" required autocomplete="off" />
              </div>
            </div>
            <div class="field-wrap">
              <label  class='err_blurb'>
                Blurb Address<span class="req">*</span>
              </label>
              <input type="textarea" class='s_blurb artist_blurb' required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <input type="file" id="my_img_upload_input" name="data[]" multiple />
                <output id="img_placeholder"></output>
            </div>
            <button type="button" class="artist_create_btn create_button button button-block">Get Started</button>
            </form>
          </div>
  </div>
</div>