<div class="sign_up">
  <div class="form">
        <ul class="tab-group">
          <li class="tab active"><a href="#signup">Sign Up</a></li>
          <li class="tab"><a href="#login">Log In</a></li>
        </ul>
        <div class="tab-content">
          <div id="signup">
            <h1>Sign Up for Free</h1>
            <form>
            <div class="top-row">
              <div class="field-wrap">
                <label class='err_login'>
                  Login<span class="req">*</span>
                </label>
                <input class='s_login' type="text" required autocomplete="off" />
              </div>
            </div>
            <div class="field-wrap">
              <label  class='err_email'>
                Email Address<span class="req">*</span>
              </label>
              <input type="email" class='s_email' required autocomplete="off"/>
            </div>
            <div class="field-wrap">
              <label class='err_password'>
                Set A Password<span class="req">*</span>
              </label>
              <input type="password" class='s_password' required autocomplete="off"/>
            </div>
            
            <button type="button" class="create_button button button-block">Get Started</button>
            </form>
          </div>
          
          <div id="login">   
            <h1>Welcome Back!</h1>
            <form>
              <div class="field-wrap">
              <label class='err_login' >
                Login<span class="req">*</span>
              </label>
              <input type="text" class='l_login' required autocomplete="off"/>
            </div>
            
            <div class="field-wrap">
              <label class='err_password'>
                Password<span class="req">*</span>
              </label>
              <input type="password" class='l_password' required autocomplete="off"/>
            </div>
            <p class="forgot"><a href="#">Forgot Password?</a></p>
            <button type="button" class="sign_in_button button button-block">Log In</button>
            </form>
          </div>
        </div>
  </div>
</div>